<%- include('../partials/adminHeader.ejs') %>

    <link rel="stylesheet" href="/assets/css/maind134.css" />

    <style>
        .logo-container {
            text-align: center;
            margin-top: 50px;
        }

        .logo {
            width: 100px;
        }
    </style>
    </head>

    <body>
        <main>
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="/" rel="nofollow">Home</a>
                        <span></span>Admin Login
                    </div>
                    <p class="logopara">Zigma Smartwatches</p>
                </div>
            </div>

            <div class="card mx-auto card-login">
                <div class="logo-container">
                    <a href="/">
                        <img src="/logo.jpg" class="logo" alt="Zigma Smartwatches Dashboard">
                    </a>
                </div>

                <div class="card-body">
                    <h4 class="card-title mb-4">Admin Login</h4>
                    <form method="post">
                        <div class="mb-3">
                            <input class="form-control" placeholder="Username" name="username" id="username"
                                type="text">
                        </div>

                        <div class="mb-3">
                            <input class="form-control" placeholder="Password" id="password" name="password"
                                type="password">

                               <div>
                                <label for="checkbox" style="float: right;"> <small>View password</small> </label>
                                <input type="checkbox" style="width: 0px;" name="checkbox" id="checkbox">
                               </div>
                        </div>

                        <script>
                            var checkbox = document.getElementById("checkbox")
                            var password = document.getElementById("password")

                        

                            checkbox.onclick = function(){
                                togglePassword(password)
                            }

                            function togglePassword(passwordInput){
                                if(checkbox.checked){
                                    passwordInput.type = "text"
                                }else{
                                    passwordInput.type = "password"
                                }

                            }

                        </script>

                        <div style="margin: 10px;">
                            <p style="color: red;">
                                <% if (message && typeof message !=='undefined' ) { %>
                                    <%= message %>
                                        <% } %>

                                           
                            </p>
                        </div>

                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100">Login</button>
                        </div>
                    </form>
                </div>
            </div>

            <%- include('../partials/adminFooter.ejs') %>

                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                    <% if (typeof message !== 'undefined' && message === 'Cannot login. Check your username and password and try again') { %>
                        Swal.fire({
                          icon: 'error',
                          title: 'error',
                          text: "Check your username and password and try again",
                          timer: 3000,
                        });
                    <% } %>
                  });
                  </script>

    </body>

    </html>