<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Zigma Watches - Forget Password</title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/maind134.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span><a href="/accountPage">Account</a></span>
                <span>Change Password</span>
            </div>
            <p class="logopara">Zigma Smartwatches</p>
        </div>
    </div>

    <div class="padding_eight_all bg-white" style="width: 500px;">
        <div class="heading_s1">
            <h3 class="mb-30">Change Password</h3>
        </div>
        <form method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <input type="password" required="" name="oldpassword" id="oldpassword" placeholder="Enter old password">
                <span id="passwordError1" class="error"></span>
            </div>

            <div class="form-group">
                <input type="password" required="" name="newpassword" id="newpassword" placeholder="Enter new password">
                <span id="passwordError2" class="error"></span>
            </div>

            <div class="form-group">
                <input type="password" required="" name="confirmpassword" id="confirmpassword"
                    placeholder="Confirm new password">
                <span id="confirmPasswordError" class="error"></span>
            </div>

            <h5 style="color: blue; margin: 20px;">
                <% if(message && typeof message !=='undefined' ){ %>
                    <%= message %>
                        <% } %>
                            <span id="generalError" class="error"></span>
            </h5>

            <div class="form-group">
                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Reset password</button>
            </div>
        </form>

        <script>
            function validateForm() {
                var newpassword = document.getElementById('newpassword').value;
                var oldpassword = document.getElementById('oldpassword').value;
                var confirmPassword = document.getElementById('confirmpassword').value;

                // Clear previous error messages
                document.getElementById('passwordError1').innerText = '';
                document.getElementById('passwordError2').innerText = '';
                document.getElementById('confirmPasswordError').innerText = '';
                document.getElementById('generalError').innerText = '';

                if (newpassword.trim() === '') {
                    document.getElementById('passwordError2').innerText = 'New password cannot be empty.';
                    return false;
                }

                if (oldpassword.trim() === '') {
                    document.getElementById('passwordError1').innerText = 'Old password cannot be empty.';
                    return false;
                }

                // 8 characters
                if (newpassword.length < 8) {
                    document.getElementById('passwordError2').innerText = 'Password must be at least 8 characters long.';
                    return false;
                }

                if (newpassword !== confirmPassword) {
                    document.getElementById('confirmPasswordError').innerText = 'Passwords do not match.';
                    return false;
                }

                return true;
            }
        </script>
    </div>
</body>

</html>