<%- include('../partials/userHeader.ejs') %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <%- include('../partials/pageTopPanel.ejs') %>

        <main class="main">
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="/" rel="nofollow">Home</a>
                        <span></span> Pages
                        <span></span> Contact us
                    </div>
                </div>
            </div>
            <section class="hero-2 bg-green">
                <div class="hero-content">
                    <div class="container">
                        <div class="text-center">
                            <h4 class="text-brand mb-20">Get in touch</h4>
                            <h1 class="mb-20 wow fadeIn animated font-xxl fw-900">
                                Let's Talk About <br>Your <span class="text-style-1">Zigma Smart Watches</span>
                            </h1>
                            <p class="w-50 m-auto mb-50 wow fadeIn animated">Explore the world of Zigma Smart Watches
                                with cutting-edge technology and style.</p>
                            <p class="wow fadeIn animated">
                                <a class="btn btn-brand btn-lg font-weight-bold text-white border-radius-5 btn-shadow-brand hover-up"
                                    href="/aboutPage">About Us</a>
                                <a href="mailto:zigmasmartwatches@gmail.com"
                                    class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white ml-15  border-radius-5 btn-shadow-brand hover-up">Support
                                    Center</a>
                                <br> <br>
                            <p>
                                Connect with us through mail <br>
                                zigmasmartwatches@gmail.com
                            </p>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pt-50 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-10 m-auto">
                            <div class="contact-from-area padding-20-row-col wow FadeInUp">
                                <h3 class="mb-10 text-center">Feedback Form</h3>
                                <p class="text-muted mb-30 text-center font-sm">Share your valuable feedback and
                                    suggestions through here.</p>
                                <form class="contact-form-style text-center" id="contactForm">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="name" placeholder="First Name" type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="email" placeholder="Your Email" type="email">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="telephone" placeholder="Your Phone" type="tel">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="input-style mb-20">
                                                <input name="subject" placeholder="Subject" type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="textarea-style mb-30">
                                                <textarea name="message" placeholder="Message"></textarea>
                                            </div>
                                            <button class="submit submit-auto-width" type="button"
                                                onclick="submitForm()">Send message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <script>
                function submitForm() {
                    var form = document.getElementById('contactForm');
                    var formData = new FormData(form);
            
                    fetch('/contactPage', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: new URLSearchParams(formData),
                    })
                        .then(response => response.json())
                        .then(data => {
                            var messageType = data.messageType;
                            var messageText = data.message;
                            var backgroundColor = messageType === 'success' ? 'blue' : 'red';
            
                            Toastify({
                                text: messageText,
                                duration: 3000,
                                close: true,
                                gravity: 'top',
                                position: 'right',
                                backgroundColor: backgroundColor
                            }).showToast();
            
                            if (messageType === 'success') {
                                 form.reset();
                            }
                        })
                        .catch(error => console.error('Error:', error));
                }
            </script>
            



            <section class="section-border pt-50 pb-50">
                <div class="container">
                    <div id='map-panes' class="leaflet-map mb-50">
                        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0"
                            marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.0515691676923!2d76.65312011436672!3d10.786999992270957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba86763c2a0f967%3A0x3c737d6b2df076c2!2sPalakkad%2C%20Kerala!5e0!3m2!1sen!2sin!4v1647445393183!5m2!1sen!2sin"></iframe>
                    </div>


                </div>
            </section>
        </main>
        <%- include('../partials/userAboveFooterPanel.ejs') %>
            <%- include('../partials/userFooter.ejs') %>