<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Zigma Watches - Forget Password</title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/maind134.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span><a href="/login">Log in</a></span>
                <span><a href="/forget-password">Forget Password</a></span>
                <span>Reset Password</span>
            </div>
            <p class="logopara">Zigma Smartwatches</p>
        </div>
    </div>

    <div class="padding_eight_all bg-white" style="width: 500px;">
        <div class="heading_s1">
            <h3 class="mb-30">Reset Password</h3>
        </div>
        <form method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <input type="password" required="" name="password" id="password" placeholder="Enter password">
                <span id="passwordError" class="error"></span>
            </div>

            <div class="form-group">
                <input type="password" required="" name="confirmpassword" id="confirmpassword"
                    placeholder="Confirm password">
                <span id="confirmPasswordError" class="error"></span>

            </div>
            <input type="hidden" name="user_id" value="<%= user_id %>">
            <div class="form-group">
                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Reset password</button>
            </div>
        </form>

        <script>
            function validateForm() {
                var password = document.getElementById('password').value;
                var confirmPassword = document.getElementById('confirmpassword').value;
                if (password.trim() === '') {
                    document.getElementById('passwordError').innerText = 'Password cannot be empty.';
                    return false;
                } else {
                    document.getElementById('passwordError').innerText = '';
                }

                //   8 characters
                if (password.length < 8) {
                    document.getElementById('passwordError').innerText = 'Password must be at least 8 characters long.';
                    return false;
                } else {
                    document.getElementById('passwordError').innerText = '';
                }

                if (password !== confirmPassword) {
                    document.getElementById('confirmPasswordError').innerText = 'Passwords do not match.';
                    return false;
                } else {
                    document.getElementById('confirmPasswordError').innerText = '';
                }
                return true;
            }


        </script>


    </div>
</body>

</html>