<%- include('../partials/userHeader.ejs') %>
<%- include('../partials/pageTopPanel.ejs') %>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Purchase Guide
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container custom">
            <div class="row">
                <div class="col-lg-9">
                    <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                        <div class="single-header  style-2">
                            <h2>Zigma Smart Watches Purchase Guide</h2>
                            <div class="entry-meta meta-1 font-xs mt-15 mb-15">
                                <span class="post-by">By <a href="#">John</a></span>
                                <span class="post-on has-dot">[Insert Date]</span>
                                <span class="time-reading has-dot">Estimated Reading Time: 8 mins</span>
                                <span class="hit-count  has-dot">29k Views</span>
                            </div>
                        </div>
                        <figure class="single-thumbnail">
                            <img src="/banner/99 .jpg" alt="">
                        </figure>
                        <div class="single-content">
                            <h4>1. Account Registration</h4>
                            <p>Welcome to Zigma Smart Watches! To get started, follow these steps to create your account:</p>
                            <ul class="mb-30">
                                <li>Provide your name, age, and date of birth.</li>
                                <li>Submit your Passport/ID number for verification.</li>
                                <li>Include your current career information.</li>
                                <li>Provide your mobile phone number and email address.</li>
                                <li>Optionally, share your hobbies & interests and social profiles.</li>
                            </ul>

                            <h4>2. Select Your Smart Watch</h4>
                            <p>Browse our collection of cutting-edge smartwatches. Select the one that suits your style and preferences. Explore features, designs, and specifications before making your choice.</p>

                            <h4>3. Confirm Order Details</h4>
                            <p>Review your selected smartwatch, check its specifications, and confirm your order. Ensure that you've chosen the correct model, color, and any additional features or accessories you may need.</p>

                            <h4>4. Complete the Transaction</h4>
                            <p>Proceed to secure payment. Zigma Smart Watches accept various credit cards for a seamless checkout experience. Rest assured, your transaction is secure, and taxes will be calculated by your local bank based on your location.</p>

                            <h4>5. Accepted Credit Cards</h4>
                            <p>We support the following credit cards:</p>
                            <ul>
                                <li>Visa</li>
                                <li>Mastercard</li>
                                <li>American Express</li>
                                <li>Discover</li>
                            </ul>
                            <span>*Taxes are calculated by your local bank and location.</span>

                            <h4 class="mt-30">6. Download and Setup</h4>
                            <p>Congratulations on your Zigma Smart Watch purchase! Enjoy the following benefits:</p>
                            <ul>
                                <li>Receive updated content on a regular basis.</li>
                                <li>Experience secure & hassle-free payments.</li>
                                <li>Enjoy 1-click checkout for future purchases.</li>
                                <li>Access an easy-to-use and smart user dashboard.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../partials/userAboveFooterPanel.ejs') %>
<%- include('../partials/userFooter.ejs') %>
