<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <title>Zigma Watches - Cancel Orders</title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/css/maind134.css" />
  <link href="/adminAssets/css/main.css" rel="stylesheet" type="text/css" />
  <!-- Include SweetAlert library -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> <a href="/accountPage">Orders</a>
        <span></span>  Return order 
      </div>
      <p class="logopara">Zigma Smartwatches</p>
    </div>
  </div>

  <div class="padding_eight_all bg-white">
    <div class="heading_s1">
      <h3 class="mb-30">Return Order</h3>
    </div>
    <div style="width: 900px;">

      <form id="returnOrderForm" method="post" action="/returnOrder">

        <input type="hidden" name="returnOrderId" value="<%= returnOrderId %>">
        <input type="hidden" name="productId" value="<%= productId %>">

         <label for="reason">Reason for returning the product:</label>
        <textarea name="reason" id="reason" rows="3" required></textarea>
        
        <button type="button" id="cancelProductButton" class="confirm-cancel-btn" style="color: white; margin: 10px; padding: 10px; background-color: red; border-radius: 10px;">Return Product</button>
      </form>

    </div>
  </div>

  

  <script>
 
    document.getElementById('cancelProductButton').addEventListener('click', function () {
      Swal.fire({
        title: 'Are you sure?',
        text: 'You won\'t be able to revert this!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, cancel it!'
      }).then((result) => {
        if (result.isConfirmed) {
          // If the user clicks "Yes", submit the form
          document.getElementById('returnOrderForm').submit();
        }
      });
    });
  </script>
</body>

</html>
